.schema-section {
    background-color: #e6f7ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #91d5ff;
  }
  
  .segment-table-container {
    position: relative;
    transition: filter 0.3s ease-in-out;
  }
  
  .blur-background {
    filter: blur(8px);
  }
  
  .slide-in-modal {
    .ant-modal-content {
      height: 100vh; 
      border-radius: 0;
      padding: 0px;

      .ant-modal-body {
        padding: 10px 26px;
      }
    }
    
    .ant-modal {
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
      width: 25vw; 
      height: 100vh; 
      transition: transform 0.3s ease;
      transform: translateX(100%);
      position: fixed; 
      z-index: 1000; 
    }
    
  
    .ant-modal-visible {
      transform: translateX(0);
    }
  }
  
  .custom-modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #32b89f; 
    padding: 18px 3px; 
    color: white; 
  }
  
  .close-icon {
    font-size: 16px;
    margin-right: 10px; 
    cursor: pointer;
    color: white; 
  }
  
  .modal-title-text {
    font-size: 18px; 
    font-weight: bold; 
  }
  
  .form-footer {
    position: absolute;
    bottom: 0;
    background: #edf1f0;
    padding: 8px 15px;
    width: -webkit-fill-available;
    margin-left: -26px;
    .ant-form-item{
      margin: 10px 0px;
    }
  }

  .green-button {
    background-color: #3f8e29; 
    border-color: #3f8e29;
    color: #fff;
  
    &:hover,
    &:focus {
      background: #73d13d; 
      border-color: #73d13d;
    }
  }
  
  .table-container{
    padding: 2rem 1rem;
  }
  